@model CourseEnrollmentSystem.ViewModels.CreateStudentViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="mb-3">
    <label asp-for="FullName" class="form-label" maxlength="150"></label>
    <input asp-for="FullName" class="form-control" />
    <span asp-validation-for="FullName" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Email" class="form-label"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Birthdate" class="form-label"></label>
    <input asp-for="Birthdate" class="form-control" type="date" />
    <span asp-validation-for="Birthdate" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="NationalId" class="form-label"></label>
    <input asp-for="NationalId" class="form-control" />
    <span asp-validation-for="NationalId" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="PhoneNumber" class="form-label"></label>
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>

